<!DOCTYPE html>
<html>
  <head>
    <title>vue 3 basics</title>
    <style>
      .box {
        background-color: purple;
        height: 200px;
        width: 200px;
      }
      .circle {
        background-color: green;
        height: 200px;
        width: 200px;
        border-radius: 50%;
      }
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      {{ greeting }}
      <input v-model="greeting" />
      <hr>
      <div v-if="isVisibleBox" class="box"></div> 
      <div  v-show="isVisibleCircle" class="circle"></div>
      <hr>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      let app = Vue.createApp({
        data() {
          return {
            greeting: "hello vue",
            isVisibleBox: true,
            isVisibleCircle: true,
          };
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
